{% extends 'base.html.twig' %}

{% block title %}Liste des candidats{% endblock %}

{% block body %}
    <header>
        <nav class="menu">
            <ul>
                <li><a href="http://localhost:3000/candidats">Liste des candidats</a></li>
                <li><a href="voter.html">Voter</a></li>
            </ul>
        </nav>
    </header>
    <main id="app">
        <h1 class="center">Élections des 3 représentants du conseil</h1>
        <p class="center">{{ nbCandidats }} candidats</p>

    <table>
<thead><tr>
    <th>Photo</th>
    <th>Nom</th>
    <th>Prémon</th>
    <th colspan > Soutenir ce cnadidat</th>
    <th></th>
</tr></thead>
<tbody>
  {% for candidat in candidats %}
    <tr>
        <td>  <img src="http://localhost:3000/assets/candidats/{{candidat['id']}}.jpg " alt="{{candidat['id']}}"></td>
        <td>{{ candidat['nom] }}</td>
        <td>{{ candidat['prenom] }}</td>
        <td> <button type="button">Oui</button> </td>
        <td><button type="button">Non</button> </td>
    </tr>
    
        {% endfor %}
</tbody>
    </table>
       
    </main>
    <footer>
        <p>Copyright 2024 DWWM2304</p>
    </footer>
{% endblock %}
